.container {
    width: 100%;

    &__inner{
        max-width: $max-width;
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.d-flex-space-btwn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.d-flex-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &--rev{
        flex-direction: column-reverse;
        @include smallLaptop {
            flex-direction: row;
        };
    }
}
.flex-2-child-50{
    flex-basis: 100%;
    max-width: 600px;
    padding: 1rem;
    @include smallLaptop {
        flex-basis: 50%;
    };
}
.content-mx-60{
    max-width: 60rem;
    margin: auto;
}
.content-mx-35{
    max-width: 35rem;
    margin: auto;
}