@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Courier Prime';
    src: url('/assets/fonts/CourierPrime-Regular.woff2') format('woff2'),
        url('/assets/fonts/CourierPrime-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50.0%;
    line-height: 1;

    @include tablet {
        font-size: 60.0%;
    };
    @include smallLaptop {
        font-size: 62.5%;
    };
    @include largeScreen {
        font-size: 75%;
    };
}

.heading{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Montserrat', sans-serif;

    &--1{
        font-size: 4rem;
        color: $color-purple;
        text-transform: uppercase;
    }
    &--2{
        font-size: 2.5rem;
    }
    &--3{
        font-size: 2rem;
    }
}
.paragraph{
    font-size: 1.6rem;
    line-height: 1.2;
}
.clr-white{
    color: $color-white;
}
.clr-purple{
    color: $color-purple;
}

/*Default Gutenberg editor styles*/
.container--page {
    h1, h2, h3, h4, h5, h6, p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        font-size: 4rem;
        color: $color-purple;
        text-transform: uppercase;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2.5rem;
        color: $color-purple;
    }
    h4{
        font-size: 2rem;
    }
    p{
        font-size: 1.6rem;
        line-height: 1.2;
    }
}
