body{
    background-color: #FBEAFF;
}
.footer-test{
    background-color: #845EC2;
    text-align: center;
}
.header-test{
    background-color: orangered;
    font-size: 2rem;
    text-align: center;
}