/*Paddings*/
.pt-sm{
    padding-top: 2rem;
}
.pb-sm{
    padding-bottom: 2rem;
}
.pt-md{
    padding-top: 4rem;
}
.pb-md{
    padding-bottom: 4rem;
}
.pt-lr{
    padding-top: 6rem;
}
.pb-lr{
    padding-bottom: 6rem;
}

/*Other*/
.txt-center{
    text-align: center;
}
.border-around-img-2px{
    border: 2px solid $color-black;
}
.shadow{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}