/*Color variables*/
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #6D6D6D;
$color-purple: #481A72;
$color-grey-hover: #A0A0A0;
$color-mobile-menu: #FEF7FF;

/*Width variables*/
$max-width: 120rem;