.accordion-item {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 80rem;
    margin: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
    row-gap: 3rem;

    &--open {
        border-top: 3px solid $color-purple;
        h3 {
            color: $color-purple;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        stroke: $color-purple;
        cursor: pointer;
    }
}
.accordion-hide-content{
    display: none;
}