.btn {
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    min-width: 12rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    display: inline-block;

    &:hover{
        transform: translateY(-2px);
    }

    &--white{
        background-color: $color-white;
        color: $color-black !important;
    }
    &--purple{
        background-color: $color-purple;
        color: $color-white !important;
    }
}