.hero__content{
    text-align: center;
    @include smallLaptop {
        text-align: left;
    };

    &--paragraph{
        padding: 2rem 0;
        p {
            font-family: 'Courier Prime', monospace;
            font-size: 2rem;
            color: $color-grey;
        }
    }
}
.intro {
    background-color: $color-purple;

    img {
        max-width: 35rem;
    }
}
.home-page-el {
    &--hide {
        opacity: 0;
        transform: translateY(2rem);
    }
    &--reveal {
        transition: transform 1s, opacity 1s;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero figure {
    animation: fadeInAnimation ease 1s;
}
.hero .hero__content {
    animation: fadeInAnimation ease 1s;
}
.intro {
    animation: fadeInAnimation ease 1s;
}