/*Home page template styles*/
.hero{
    background-color: $color-purple;
    background-image: linear-gradient(135deg, $color-purple, #725786);
    &__content{
        text-align: center;
        color: $color-white;
        @include smallLaptop {
            text-align: left;
        };
    
        &--paragraph{
            padding: 2rem 0;
            p {
                font-family: 'Courier Prime', monospace;
                font-size: 2rem;
            }
        }
    }

}
.intro {
    background-color: $color-white;

    img {
        max-width: 20rem;
    }
}
.home-page-el {
    &--hide {
        opacity: 0;
        transform: translateY(2rem);
    }
    &--reveal {
        transition: transform 1s, opacity 1s;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero figure {
    animation: fadeInAnimation ease 1s;
}
.hero .hero__content {
    animation: fadeInAnimation ease 1s;
}
.intro {
    animation: fadeInAnimation ease 1s;
}
.image-bckgrd{
    background-color: $color-purple;
    background-image: radial-gradient(circle, #481a72, #532a77, #5e397c, #684881, #725786);
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto;
}
.about{
    background-color: $color-purple;
    color: $color-white;
}